body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label,fieldset{
	/* A simple page reset */
	margin:0px;
	padding:0px;
}

body{
	/* Styling the body */
	color:black;
	font-size:13px;
	background: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
}

#gallery{
	/* The pics container */
	width:100%;
	height:580px;
	position:relative;
}

.pic, .pic a{
	/* Each picture and the hyperlink inside it */
	width:100px;
	height:100px;
	overflow:hidden;
}

.pic{
	/* Styles specific to the pic class */
	position:absolute;
	border:0px solid #EEEEEE;
	border-bottom:0px solid #eeeeee;

}

.pic a{
	/* Specific styles for the hyperlinks */
	text-indent:-999px;
	display:block;
	/* Setting display to block enables advanced styling for links */
}

label, input{
	/* The modal dialog URL field */
	display:block;
	padding:3px;
}

label{
	font-size:10px;
}

fieldset{
	border:0;
	margin-top:10px;
}

hr{
	/* The horizontal ruler */
	background-color:#BBBBBB;
	border:medium none;
	color:#BBBBBB;
	height:1px;
	margin:30px auto;
	width:450px;
}

.clear{
	/* The clearfix hack */
	clear:both;
}

#main{
	/* The main container */
	width:100%;
	height:700px;
	margin:30px auto;
}

a img{
	border:none;
}

a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

.tutorial-info{
	text-align:center;
	padding:10px;
	margin-top:70px;
}
.glyphicon.glyphicon-plus, .glyphicon.glyphicon-minus{
    font-size: 20px;
}
.width_span, .height_span{
	font-size: 20px;
}
table{
	width:100%;
}
